<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This</title>
  </head>
  <body>
  <h1>This isn't even my...FINAL FORM.</h1>
  <form>
    <p>Name: {{name}}</p>
    <p>Date of Birth: {{yearofbirth}}</p>
    <p>Email: {{email}}</p>
    <p>Position: {{position}}</p>
    <p> I'm not giving you the user's password. OOPS! It is: {{password}}</p>
  </form>
  <h3>And there you go.</h3>
  </body>
</html>
